.site {
width: 1000px;
height: 1000px;
margin: auto;
}

.header {
width: 1000px;
height: 250px;
background: #D3D3D3;
}

.logo {
width: 1000px;
height: 220px;
}

.navigation {
width: 1000px;
height: 30px;
background: #C0C0C0;
}

.main {
width: 1000px;
height: 700px;
background: #A9A9A9;
text-align: center;
}

.footer {
width: 1000px;
height: 58px;
background: #808080;
}
.main h1{
	text-align: center;
}
.main h2{
	text-align: center;
}
.main p{
	text-align: justify;
	text-indent: 25px;
}
.main a{
	text-decoration: none;
	text-align: justify;
}
.main img{
	height: 100px;
	width:100px;
}

marquee{
	background: #FFFAFA;
}

