.site {
width: 1000px;
height: 3000px;
margin: auto;
}

.header {
width: 1000px;
height: 250px;
background: #D3D3D3;
text-align:center;
}

.logo {
width: 1000px;
height: 220px;
}

.navigation {
width: 1000px;
height: 30px;
background: #C0C0C0;
}

.main {
width: 1000px;
height: 4000px;
background: #A9A9A9;
text-align: center;
}

.footer {
width: 1000px;
height: 58px;
background: #808080;
}


.z-index{
	width: 900px;
	height: 300px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
}
.z-1{
	width:150px;
	height:150px;
	margin: 0px auto;
	background: red;
	position:relative;
	z-index: 1;
	top: 40px;
	border: 4px solid #8B0000;
	display:flex;
		justify-content: center;
	align-items:center;
}
.z-2{
	width:130px;
	height:130px;
	margin: 0px auto;
	background: black;
	position:relative;
	z-index: 2;
bottom:50px;
border: 4px solid #696969;
color:white;
display:flex;
		justify-content: center;
	align-items:center;
}
.z-3{
	width:110px;
	height:110px;
	margin: 0px auto;
	background: blue;
	position:relative;
	z-index: 3;
bottom:120px;
border: 4px solid #4682B4;
display:flex;
		justify-content: center;
	align-items:center;
}


.position{
		width: 900px;
	height: 300px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
}
.p-1{
	width:110px;
	height:110px;
	margin: 0px auto;
	background: red;
	position:relative;
	border: 4px double  #8B0000;
	left:300px;
	top: 115px;
	display:flex;
		justify-content: center;
	align-items:center;
}
.p-2{
	width:110px;
	height:110px;
	margin: 0px auto;
	background: #C71585;
	position:absolute;
border: 4px double  #696969;
display:flex;
	justify-content: center;
	align-items:center;
}
.p-3{
	width:110px;
	height:110px;
	margin: 0px auto;
	background: blue;
	position:static;
border: 4px solid #4682B4;
display:flex;
		justify-content: center;
	align-items:center;
}
.p-4{
	width:110px;
	height:110px;
	margin: 0px auto;
	background: gray;
	position:fixed;
	z-index: 3;
bottom:10px;
border: 4px solid #4682B4;
display:flex;
		justify-content: center;
	align-items:center;
}


.Flex{
		width: 900px;
	height: 200px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
	display:flex;
	padding-top:10px;
	justify-content: space-between;
}

.Flex-left{
		width: 900px;
	height: 150px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
	display:flex;
	padding-top:10px;
	flex-direction:row;
	margin: 0px auto;
}


.Flex-right{
		width: 900px;
	height: 150px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
	display:flex;
	padding-top:10px;
	flex-direction:row-reverse;
}


.Flex-center{
	width: 130px;
	height: 560px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
	display:flex;
	padding-top:10px;
	flex-direction:column;

}
.grid-container{
	width:900px;
	height: 370px;
		margin: 0px auto;
		padding-top:10px;
	display:grid;
		background: #FF69B4;
		border-radius: 40px;
	border: 4px solid #C71585;
	grid-template-rows:120px 120px 120px;
	grid-template-columns:450px 450px;
}
.grid-item{
	color: white;
	background:#4B0082;
	font-size: 20px;
		border-radius: 40px;
	border: 1px solid #C71585;
	display:flex;
		justify-content: center;
	align-items:center;
	margin: 5px;
}

.Flex-long{
		width: 130px;
	height: 560px;
	margin: 0px auto;
	background: #FF69B4;
	border-radius: 40px;
	border: 4px solid #C71585;
	display:flex;
	padding-top:10px;
	flex-direction:column-reverse;
}


.f-1{
	width: 100px;
	height: 100px;
	background: #556B2F;
	border-radius: 40px;
	border: 4px solid #32CD32;
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin: 10px;
}
.f-2{
	width: 100px;
	height: 100px;
	background: #008B8B;
	border-radius: 40px;
	border: 4px solid #C71585;
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin: 10px;
}
.f-3{
	width: 100px;
	height: 100px;
	background: #BA55D3;
	border-radius: 40px;
	border: 4px solid #C71585;
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin: 10px;
}
.f-4{
	width: 100px;
	height: 100px;
	background: #8B4513;
	border-radius: 40px;
	border: 4px solid #C71585;
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin: 10px;
}
.f-5{
	width: 100px;
	height: 100px;
	background: #CD5C5C;
	border-radius: 40px;
	border: 4px solid #C71585;
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin: 10px;
}